<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.instagramclone"
    android:usesCleartextTraffic="true">
    <!-- - permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstagramClone">
        <activity
            android:name=".view.PostActivity"
            android:exported="false" />
        <activity
            android:name=".view.NPImageProcessingActivity"
            android:exported="false" />
        <activity
            android:name=".view.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".view.PhotoEffectFragment"
            android:exported="true" />
        <activity
            android:name=".view.EditPersonalProfile"
            android:exported="false" />
        <activity
            android:name=".view.EditPhotoFragment"
            android:exported="true" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.HomeActivity" />
        <activity android:name=".view.ProfileActivity" />
        <activity android:name=".view.EditProfileActivity" />
        <activity android:name=".view.NewPostActivity" />
        <activity android:name=".view.SearchActivity" />
        <activity
            android:name=".view.FollowActivity"
            android:parentActivityName=".view.ProfileActivity" />
        <activity android:name=".view.NotificationActivity" />
    </application>

</manifest>